@model List<ApplicationCore.Models.MovieCardResponseModel>
                
    <div class="rounded">
        <div class="container-fluid">
            <div class="row"> 
                <h1 class="text-center">Movies With Similar Genres</h1>
                    @foreach (var movie in Model)
                    {
                        <div class="col-6 col-xl-2 col-sm-4 col-lg-3"> 
                            <partial name="_MovieCard" model="movie"/>
                        </div>
                    } 
            </div>
        </div>
    </div>
